In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pwd

'/Users/josephthomas/Documents/Projects/Data Projects/chocolate-analysis/notebooks'

In [5]:
data_src='/Users/josephthomas/Documents/Projects/Data Projects/chocolate-analysis/data/'

In [6]:
choc_df=pd.read_excel(data_src+'raw/Chocolate.xlsx')

In [48]:
choc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   REF                               2530 non-null   int64
 1   Company (Manufacturer)            2530 non-null   object
 2   Company Location                  2530 non-null   object
 3   Review Date                       2530 non-null   int64
 4   Country of Bean Origin            2530 non-null   object
 5   Specific Bean Origin or Bar Name  2530 non-null   object
 6   Cocoa Percent                     2530 non-null   float64
 7   Ingredients                       2443 non-null   object
 8   Most Memorable Characteristics    2530 non-null   object
 9   Rating                            2530 non-null   float64
dtypes: float64(2), int64(2), object(6)
memory usage: 197.8+ KB

In [21]:
temp=choc_df["Ingredients"].str.split("-",expand=True)[1]

In [22]:
temp

0        B,S,C
1        B,S,C
2        B,S,C
3        B,S,C
4          NaN
         ...
2525       B,S
2526       B,S
2527       B,S
2528       B,S
2529       B,S
Name: 1, Length: 2530, dtype: object

In [25]:
choc_df["Ingredients"].value_counts()

3- B,S,C          999
2- B,S            718
4- B,S,C,L        286
5- B,S,C,V,L      184
4- B,S,C,V        141
2- B,S*            31
4- B,S*,C,Sa       20
3- B,S*,C          12
3- B,S,L            8
4- B,S*,C,V         7
5-B,S,C,V,Sa        6
1- B                6
4- B,S,V,L          5
4- B,S,C,Sa         5
6-B,S,C,V,L,Sa      4
4- B,S*,V,L         3
3- B,S,V            3
4- B,S*,C,L         2
3- B,S*,Sa          1
5- B,S,C,L,Sa       1
2- B,C              1
Name: Ingredients, dtype: int64

In [27]:
choc_df["Ingredients"].isnull().sum()

87

In [28]:
choc_df["Company (Manufacturer)"].value_counts()

Soma              56
Fresco            39
Arete             32
Bonnat            30
A. Morin          26
                  ..
Levy               1
Pinellas           1
Nearynogs          1
Cuna de Piedra     1
Peppalo            1
Name: Company (Manufacturer), Length: 580, dtype: int64

In [30]:
choc_df["Company Location"].value_counts()

U.S.A.                   1136
Canada                    177
France                    176
U.K.                      133
Italy                      78
                         ...
Ghana                       1
Suriname                    1
Martinique                  1
St.Vincent-Grenadines       1
Wales                       1
Name: Company Location, Length: 67, dtype: int64

In [35]:
choc_df["Country of Bean Origin"].value_counts()

Venezuela             253
Peru                  244
Dominican Republic    226
Ecuador               219
Madagascar            177
                     ...
Sulawesi                1
Suriname                1
Gabon                   1
Burma                   1
Principe                1
Name: Country of Bean Origin, Length: 62, dtype: int64

In [47]:
choc_df["Review Date"].value_counts().reset_index().sort_values(by="index",ascending=False)

    index  Review Date
7    2021          175
13   2020           81
5    2019          193
2    2018          228
11   2017          105
3    2016          217
0    2015          284
1    2014          247
6    2013          183
4    2012          194
8    2011          163
10   2010          110
9    2009          123
12   2008           92
14   2007           73
15   2006           62